@import "tailwindcss";

* {
  background-color: black;
}

body{
  font-family: Helvetica, sans-serif;
}

body, header, footer {
  margin: 0;
  padding: 0;
}

header {
  color: white;
  padding: 5% 20px; /* Side padding */
  height: 30vh;
  display: flex; /* Flexbox for layout */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

section {
  margin: auto 15%;
}

h1 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: normal;
  font-size: 3em;
  margin: 0;
  color: white; 
}

h2 {
  color: white;
}

h3 {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
}

li {
  display: inline-block;
}

p {
  color: white;
}

a {
  text-decoration: none;
  font-size: 2.5em;
  transition: color 0.3s ease;
  color: white;
  font-family: "Lexend Deca", sans-serif;
}

a:hover {
  color: rgb(105, 105, 185);
}

/* Divider styles */
hr.separator1 {
  border: 0;
  border-top: 2px solid white;
  margin: 20px auto;
  width: 80%; 
}

hr.separator2 {
  border: 0;
  border-top: 1px dashed white;
  margin: 20px 0;
  width: 100%;
}

/* Footer styling */
footer {
  background-color: black;
  font-family: Helvetica, sans-serif;
  color: white;
  margin: auto 15%;
}

.contacts {
  display: flex;
  gap: 20px;
}

.contacts a {
  text-decoration: none;
}

.contacts-logo {
  width: 50px;
  height: 50px; 
  cursor: pointer;
}

.contacts-logo path {
  transition: all 0.3s ease;
}

.Bluesky:hover path {
  fill: rgb(105, 105, 185);
}

.Email:hover path {
  stroke: rgb(105, 105, 185);
}


.blogpost {
margin: 10% 0;
background-color: rgb(234, 234, 234);
border-radius: 25px;
height: 140px;
width: 100%;


}

.title {
font-family: "Lexend Deca", sans-serif;
color: white;
}

.categorization {
font-family: "Lexend Deca", sans-serif;
font-weight: normal;
color: rgba(105, 105, 185);
}